#project-page{
   width: 50vw;
   padding-left: 25vw;
   line-height: 30px;
}

#project-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.project-section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

#introduction{
    font-family: monospace;
    font-size: 20px;
}

li{
    font-size: 20px;
}

.feature-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.feature-description{
    font-family: monospace;
    font-size: 16px;
}

.feature-image{
    height: auto;
    width: 50vw;
}

.tech-image{
    height: 24px;
    width: 24px;
    padding-right: 8px;
    float:left;
}

.tech-name{
    font-family: monospace;
    font-size: 20px;
}

#project-tech{
   display: grid;
   height: 20vh;
   grid-auto-columns: 200px;
   grid-template-rows: 6vh 6vh 6vh 6vh; 
   grid-auto-flow: column;
   padding-bottom: 70px;

}

#tech-name{
    display: inline-block;
}

#technology-section{
    line-height: 22px;
}

#home-button{
    color: gray;
    font-weight: 400;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
}

#project-header{
    display: grid;
    grid-template-columns: 80% 20%;
}

#intro-header{
    display: grid;
    grid-template-columns: 80% 20%;
}

#github-link{
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: gray;
}
