#body{
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#aboutDescription{
    color: white;
    font-size: 15px;
    width: 530px;
    line-height: 25px;
    font-family: monospace;
}
#aboutTitle{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#aboutMe{
    width: 100%;
    height: 50%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
body {
    margin: 0;
}



#contact-body{
    padding-left: 30px;
}

#resume{
    color:white;
    font-family: arial;
}

#links{
    display: grid;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 150px;
    padding-left: 150px;

    
}

