#body{
    padding-left: 40px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#aboutDescription{
    color: white;
    font-size: 20px;
    line-height: 25px;
    width: 700px;
    font-family: monospace;
}
#aboutTitle{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 33px;
}

#aboutMe{
    width: 100vw;
    height: 50vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
    align-items: center;
    
}
body {
    margin: 0;
}



#contact-body{
    padding-left: 30px;
}


#links{
    display: grid;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 150px;
    padding-left: 150px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 480px){
    #aboutMe{
        width: 100vw;
        height: 105vh;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        align-items: start;
        
    }

    #aboutDescription{
        color: white;
        font-size: 17px;
        line-height: 25px;
        width: 300px;
        font-family: monospace;
    }

    #links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #aboutTitle{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 25px;
    }
}