@import url(https://fonts.googleapis.com/css?family=Inter);

/* the box that holds the image/name of the game */
.card{
    width: 250px;
    transition: all .2s ease-in-out; 
    border: 2px solid transparent;
    background: transparent;
    margin: auto;
}
  
/* make the card bigger when its hovered */
.card:hover{
    transform: scale(1.05); 
    cursor: pointer;
}

#cardImage{
    width: 300px;
    height: 300px;
    padding-left: 10%;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 20px;
}

#cardGameTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: auto;
    padding-bottom: 10px;
}

