
#projects{
    
    padding-bottom: 40px;
    
}

#project-title{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#projectList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 100px;
    margin-left: auto;
    margin-right: auto;
}

#project-header{
    padding-top: 10vh;
    font-size: 40px;
    padding-bottom: 10vh;
    padding-left: 16vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
