
#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60vh;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    padding-top: 3vh;
}

#skill-header{
    padding-top: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#skill-seperator{
    width: 70vw;
}

@media (max-width: 480px){
    #skills{
        display: grid;
        grid-template-columns: 1fr;
        height: 140vh;
        justify-items: center;
        align-items: center;
        row-gap: 30px;
        padding-bottom: 10vh;
        padding-top: 3vh;
    } 

    #skill-header{
        padding-top: 40px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}